.content
    display: grid
    grid-row: 2 / span 1
    grid-column: 2 / span 1
    padding: 24px
    grid-template-columns: minmax(min-content, 280px)
    grid-auto-flow: column
    column-gap: 20px
    overflow-x: scroll

    &_expanded
        grid-column: 1 / span 2
        grid-template-columns: minmax(min-content, 280px)

.wrapper
    display: grid
    grid-row: 1 / span 1
    grid-auto-flow: column
    justify-content: start
    column-gap: 20px

// :root, .dark, .dark-theme, :is(.dark, .dark-theme)
//     :where(.radix-themes:not(.light, .light-theme))
//         --color-background: #2b2c37

//         .item
//             &:hover
//                 background: ""

// :root, .dark, .dark-theme, :is(.dark, .dark-theme)
// :where(.radix-themes:not(.light, .light-theme))
//     .content
//         background: #F4F7FD
