@import url('../styles/colors/dark-theme.css');

:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-plus_jakarta_sans);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0px;
  background: var(--violet-1);
}

button {
  all: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

.radix-themes {
  --default-font-family: var(--font-plus_jakarta_sans) !important;
}
